.error{
    display: none;
}

.error_show{
    color: red;
}

input.invalid, select.invalid{
    border: 2px solid red;
}

input.valid, select.valid{
    border: 2px solid green;
}
.login-page{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-origin: cover;
    background-size: cover;
}
.container_12 {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.fleft{
    float: left;
    margin-right: 28px;
    position: relative;
    top: -7px;
}